.teamMember {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  justify-content: space-between;
}
.teamSection {
    padding: 5%;
    border-radius: 50px;  
}
.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.teamMember {
  background: rgba(255, 255, 255, 0.1); /* Transparent white background */
  backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teamMember:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.memberContent {
  color: #000000;
}

.memberName {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.memberRole {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.memberBio {
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.9;
  width: 100%
}

@media (max-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .teamGrid {
    grid-template-columns: 1fr;
  }
  .memberImage {
    min-width: 100%;
  }
}